@using WebUI.Helpers
@inject NavigationManager NavigationManager
@inherits LocationAwareComponent

@code {
    /// <summary>
    ///     Названия параметра фильтрации
    /// </summary>
    [Parameter]
    public string Name { get; set; } = "Поиск...";

    /// <summary>
    ///     Имя параметра
    /// </summary>
    [Parameter]
    public string QueryParameter { get; set; } = "q";

    private string _query;

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            Initialize();
        }
    }

    /// <inheritdoc />
    protected override Task OnLocationChangedAsync()
    {
        Initialize();
        return Task.CompletedTask;
    }

    /// <summary>
    ///     Функция первичной инициализации фильтра
    /// </summary>
    private void Initialize()
    {
        try
        {
            if (NavigationManager.TryGetQueryParameter<string>(QueryParameter, out var query) && !string.IsNullOrEmpty(query))
            {
                _query = query;
            }
            else
            {
                _query = null;
            }
        }
        catch
        {
            _query = null;
        }

        StateHasChanged();
    }

    /// <summary>
    ///     Обработка нажатия применения фильтра
    /// </summary>
    private void OnSubmit()
    {
        var url = NavigationManager.Uri;
        url = url.SetQueryParam(QueryParameter, !string.IsNullOrEmpty(_query) ? _query : null);
        NavigationManager.NavigateTo(url);
    }

    /// <summary>
    ///     Сброс фильтра
    /// </summary>
    private void ClearSelection()
    {
        _query = null;
        OnSubmit();
        StateHasChanged();
    }
}

<div class="btn-group btn-group-sm mr-4" role="group">
    <form class="form-inline d-inline-flex" @onsubmit="@OnSubmit">
        <input type="text" class="form-control form-control-sm" placeholder="@Name" @bind="@_query">
        <button type="submit" class="btn btn-sm btn-secondary ml-2 d-none"></button>
        <button class="btn btn-sm btn-outline-success" type="submit">
            <i class="fa fa-chevron-down text-success" />
        </button>
        <button class="btn btn-sm btn-outline-danger" type="button" @onclick="@ClearSelection" disabled="@(string.IsNullOrEmpty(_query) ? "disabled" : null)">
            <i class="fa fa-times text-danger" />
        </button>
    </form>
</div>